{%include "header.html" %}
<section id="project-page">
    <div class="container project-page-title-container">
        <h1 class="project-title">Projects Name</h1>
    </div>
    <div class="container project-page-container-content">
        <img src="{{ url_for('static', filename='images/profile-img.jpg')}}" alt="project-image" class="project-image">
        <div class="container-text">
            <h1 class="project-description">Description</h1>
            <p class="project-description-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut elit eu ex placerat facilisis. Vestibulum elit quam, viverra vitae felis acLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut elit eu ex placerat facilisis. Vestibulum elit quam, viverra</p>
            <span class="source-btn"><a class="btn btn-outline-info" href="#">Source Code</a></span>
        </div>
        
    </div>
</section>











{% include "footer.html" %}