body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* HOME */
.home-title {
    color: azure;
}

#home-sec {
    position: relative;
    background-color: #181818;
    z-index: 3;
}

.home-main-content {
    padding: 22.72rem 1.5rem;
}

.profile-home-img {
    width: 100px;
    border-radius: 50%;
}

/* octogon image */
.octagon-home-img {
    position: absolute;
    transform: rotate(30deg);
    left: -20rem;
}

@media (max-width: 549.9px) {
    .octagon-home-img {
        left: -22rem;
        width: 30rem;
    }
}

@media (min-width: 550px) {
    .octagon-home-img {
        width: 30rem;
    }
}

@media (min-width: 700px) {
    .octagon-home-img {
        width: 35rem;
    }
}

@media (min-width: 900px) {
    .octagon-home-img {
        width: 40rem;
    }
}

@media (min-width: 1200px) {
    .octagon-home-img {
        width: 45rem;
    }
}

@media (min-width: 1350px) {
    .octagon-home-img {
        width: 50rem;
        left: -21.8rem;
    }
}

/* ABOUT PAGE */

#about-page-sec {
    position: relative;
    background-color: #f0a500;
    z-index: 2;
}

/* navbar */
.navbar {
    padding: 2.5rem;
}

.button-navbar-about {
    color: azure;
}

.navbar-item {
    color: azure;
    font-weight: bold;
    font-size: 1.25rem;
}

/* octogon-black image */
.octagon-about-img {
    position: absolute;
    width: 45rem;
    right: 0;
    top: -5rem;
    z-index: -1;
}

@media (max-width: 549.9px) {
    .octagon-about-img {
        width: 30rem;
    }
}

@media (min-width: 550px) {
    .octagon-about-img {
        width: 30rem;
    }
}

@media (min-width: 750px) {
    .octagon-about-img {
        width: 35rem;
    }
}

@media (min-width: 900px) {
    .octagon-about-img {
        width: 40rem;
    }
}

@media (min-width: 1200px) {
    .octagon-about-img {
        width: 45rem;
    }
}

/* abaout me */
.about-container {
    padding: 15.3rem 1.5rem;
}

.about-text {
    font-size: 2.5rem;
    color: azure;
    font-weight: bold;
}

/* Skills */
.skills-text {
    padding-bottom: 2rem;
    text-align: center;
}

.skill-text-title {
    font-size: 3rem;
    color: azure;

}
.card-body {
    background-color: #f0a500;
    border: none;
}

.card-title {
    color: #3C4048;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.card-content {
    font-size: 1.25rem;
    color: azure;
    text-align: left;
}

.hardskill-topic {
    color: #00ABB3;
}

.card {
    word-wrap: normal;
}

@media (max-width: 600px) {

    /* about me */
    .about-container {
        padding-top: 3rem;
        padding-bottom: 13.6rem;
        text-align: center;
    }

    .about-text {
        font-size: 1.65rem;
    }

    /* Skills */
    .skills-text {
        padding: 3rem 1rem 7rem;
        text-align: center;
    }

    .card-content {
        font-size: 14px;
    }

    .card-title {
        font-size: 1.15rem;
    }
}

/* PROJECTS */

#projects-page-sec{
    background-color: #181818;
    position: relative;
    z-index: 1;
}

/* Circle */
.yellow-circle-img{
    width: 55%;
    position: absolute;
    left: -34rem;
    padding-top: 15rem;
}
.project-text-title{
    text-align: center;
    color: azure;
    font-size: 3rem;
    padding: 5rem 0 14rem;
}