body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* overflow-y: hidden; */
}

/* HOME */
.status-sign{
    display: inline-block;
    position: absolute;
    right: 50px;
    width: 11%;
}
.logged-in-sign{
    color: #3EC70B;
}
.logout-sign{
    color: red;
}
.home-title {
    color: azure;
}

#home-sec {
    position: relative;
    background-color: #181818;
    z-index: 3;
}

.home-main-content {
    padding: 22.72rem 3rem;
}
.home-content{
    text-align: center;
    padding-bottom: 1.5rem;
}

.profile-home-img {
    width: 100px;
    border-radius: 50%;
}

.home-btn{
    padding-top: 1rem;
}
.btn-lg {
    font-size: 1.5rem;
}
.a-options{
    width: 16rem;
}
.bar-btween{
    color: #404258;
    font-size: 2rem;
    display: inline-block;
    padding: 0.5rem;
}

/* octogon image */
.octagon-home-img {
    position: absolute;
    transform: rotate(30deg);
    left: -20rem;
}

@media (max-width: 549.9px) {
    .octagon-home-img {
        left: -22rem;
        width: 30rem;
    }
}

@media (min-width: 550px) {
    .octagon-home-img {
        width: 30rem;
    }
}

@media (min-width: 700px) {
    .octagon-home-img {
        width: 35rem;
    }
}

@media (min-width: 900px) {
    .octagon-home-img {
        width: 40rem;
    }
}

@media (min-width: 1200px) {
    .octagon-home-img {
        width: 45rem;
    }
}

@media (min-width: 1350px) {
    .octagon-home-img {
        width: 50rem;
        left: -21.8rem;
    }
}

/* ABOUT PAGE */
#about-page-sec {
    position: relative;
    background-color: #f0a500;
    z-index: 2;

    /* Scrollbar */
    /* height:1000px;
    overflow-y: auto;
    overflow-x: hidden; */
}

/* Scrollbar */
::-webkit-scrollbar{
    width: 0;
}

/* navbar */
.navbar {
    padding: 2.5rem;
}

.navbar-item {
    color: azure;
    font-weight: bold;
    font-size: 1.25rem;
}

/* octogon-black image */
.octagon-about-img {
    position: absolute;
    width: 45rem;
    right: 0;
    top: -5rem;
    z-index: -1;
}

@media (max-width: 549.9px) {
    .octagon-about-img {
        width: 30rem;
    }
}

@media (min-width: 550px) {
    .octagon-about-img {
        width: 30rem;
    }
}

@media (min-width: 750px) {
    .octagon-about-img {
        width: 35rem;
    }
}

@media (min-width: 900px) {
    .octagon-about-img {
        width: 40rem;
    }
}

@media (min-width: 1200px) {
    .octagon-about-img {
        width: 45rem;
    }
}

/* about me */
.about-container {
    padding: 15.3rem 1.5rem;
}

.about-text {
    font-size: 2.5rem;
    color: azure;
    font-weight: bold;
}

/* Skills */
.skills-text {
    padding-bottom: 3rem;
    text-align: center;
}

.skill-text-title {
    font-size: 3rem;
    color: azure;

}
.card-body {
    background-color: #f0a500;
    border: none;
}

.card-title {
    color: #3C4048;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.card-content {
    font-size: 1.25rem;
    color: azure;
    text-align: left;
}

.hardskill-topic {
    color: #00ABB3;
}

.card {
    word-wrap: normal;
}

@media (max-width: 600px) {

    /* about me */
    .about-container {
        padding-top: 3rem;
        padding-bottom: 13.6rem;
        text-align: center;
    }

    .about-text {
        font-size: 1.65rem;
    }

    /* Skills */
    .skills-text {
        padding: 3rem 1rem 7rem;
        text-align: center;
    }

    .card-content {
        font-size: 14px;
    }

    .card-title {
        font-size: 1.15rem;
    }
}

/* PROJECTS */

/* HOME PAGE */
#projects-page-sec{
    background-color: #181818;
    position: relative;
    z-index: 1;
}
/* Project Title */
.project-text-title{
    text-align: center;
    color: azure;
    font-size: 3rem;
}
.project-container{
    padding: 3rem 0;
}

/* Show Projects */
.show-project-container{
    padding: 0.5 0 3.5rem;
}

/* Circle */
.yellow-circle-img{
    position: absolute;
    left: -30rem;
    bottom: 2rem;
    z-index: -1;
}

@media (max-width: 449.9px) {
    .yellow-circle-img {
        width: 40rem;
    }
    .show-project-container{
        padding: 6.75rem 2rem 19.5rem;
    }
}
@media (min-width: 450px) {
    .yellow-circle-img {
        width: 40rem;
    }
    .show-project-container{

        padding: 8.25rem 2rem 14.25rem;
    }
}

@media (min-width: 550px) {
    .yellow-circle-img {
        width: 45rem;
    }
    .show-project-container{
        padding: 5.25rem 2rem 14.25rem;
    }
}

@media (min-width: 769px) {
    .yellow-circle-img {
        width: 50rem;
    }
    .show-project-container{
        padding: 2rem 0 4rem;
    }
}
@media (min-width: 993px) {
    .yellow-circle-img {
        width: 55rem;
    }
    .show-project-container{
        padding: 0 0 3.25rem;
    }

}

@media (min-width: 1200px) {
    .yellow-circle-img {
        width: 65rem;
    }

}

/* SEPARETED PAGE */
#body-project-page{
    overflow-y: unset;
}
#project-page{
    background-color: #181818;
    color: azure;
    text-align: center;  
}

.project-page-title-container{
    padding: 8rem 1.5rem 0;
}
.project-page-container-content{
    padding: 6rem 2rem 0;
    text-align: center;
}
.back-btn{
    text-align: left;
    padding: 3rem 3.5rem;
}
.project-title{
    font-size: 3rem;
}
.project-description{
    font-size: 1.75rem;
}
.project-description-content{
    font-size: 1.25rem;
}
.project-image{
    width: 80%;
    border-radius: 10%;
}
.container-text{
    text-align: left;
    width: auto;
    padding: 3rem 1.5rem;
}
@media(min-width: 1000px){
    .container-text{
        float: right;
        width: 50%;
        padding-left: 5rem;
    }
    .project-image{
        width: 50%;
    }
    .back-btn{
        padding-top: 6rem;
        padding-bottom: 9.47rem;
    }
}
.source-btn{
    display: inline-block;
    padding-top: 3rem;
}

/* CONTACT */

#contact-page-sec{
    background-color: #f0a500;
}
.main-contact{
    text-align: center;
    color: azure;
}
.contact-text-title{
    padding: 4rem 0;
    font-size: 3.25rem;
}
.contact-form{
    padding: 6.95rem 1.5rem;
    width: 50%;
    text-align: left;
}
@media (max-width: 550px){
    .contact-form{
        text-align: center;
    }
}
.contact-sent-email{
    padding: 15rem 1.5rem;
}
.contact-icons{
    width: 33px;
    float: left;
}
.contact-container{
    width: 30%;
    display: inline-block;
}
.contact-repo-title{
    color: #181818;
}
.github-icon{
    display: inline-block;
    position: relative;
    left: 12rem;
}
@media(max-width: 599.9px){
    .github-icon{
        position: static;
    }
}

@media(min-width: 600px){
    .github-icon{
        left: 0;
    }
}

@media(min-width: 750px){
    .github-icon{
        left: 2rem;
    }
}

@media(min-width: 900px){
    .github-icon{
        left: 4rem;
    }
}

@media(min-width: 1150px){
    .github-icon{
        left: 9rem;
    }
}

@media(min-width: 1400px){
    .github-icon{
        left: 12rem;
    }
}

@media(min-width: 1580px){
    .github-icon{
        left: 15rem;
    }
}
@media(min-width: 1630px){
    .github-icon{
        left: 16rem;
    }
}

@media(min-width: 1750px){
    .github-icon{
        left: 18rem;
    }
}
@media(min-width: 1880px){
    .github-icon{
        left: 20rem;
    }
}
@media(min-width: 2000px){
    .github-icon{
        left: 23rem;
    }
}



.contact-main-container{
    padding-top: 8rem;
}