body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* HOME */

.home-title{
    color: azure;
}
#home-sec{
    position: relative;
    background-color: #181818;
    z-index: 3;
}
.home-main-content{
    padding: 22.72rem 1.5rem;
}
.profile-home-img{
    width: 100px;
    border-radius: 50%;
}

/* octogon image */
.octagon-home-img{
    position: absolute; 
    transform: rotate(30deg);
    left: -20rem;
}
@media (max-width: 549.9px){
    .octagon-home-img{
        left: -22rem;
        width: 30rem;
    }
}
@media (min-width: 550px){
    .octagon-home-img{
        width: 30rem;
    }
}
@media (min-width: 700px){
    .octagon-home-img{
        width: 35rem;
    }
}
@media (min-width: 900px){
    .octagon-home-img{
        width: 40rem;
    }
}
@media (min-width: 1200px){
    .octagon-home-img{
        width: 45rem;
    }
}
@media (min-width: 1350px){
    .octagon-home-img{
        width: 50rem;
        left: -21.8rem;
    }
}

/* ABOUT */

#about-page-sec{
    position: relative;
    background-color: #f0a500;
    z-index: 2;
}

/* navbar */
.navbar{
    padding: 2.5rem 5rem;
}
.button-navbar-about{
    color: azure;
}
.navbar-item{
    color: azure;
    font-weight: bold;
    font-size: 1.5rem;
}

/* octogon-black image */
.octagon-about-img{
    position: absolute;
    width: 45rem;
    right: 0;
    top: -5rem;
    z-index: -1;
}
@media (max-width: 549.9px){
    .octagon-about-img{
        width: 30rem;
    }
}
@media (min-width: 550px){
    .octagon-about-img{
        width: 30rem;
    }
}
@media (min-width: 750px){
    .octagon-about-img{
        width: 35rem;
    }
}
@media (min-width: 900px){
    .octagon-about-img{
        width: 40rem;
    }
}
@media (min-width: 1200px){
    .octagon-about-img{
        width: 45rem;
    }
}

/* content */
.about-main-content{
    padding: 14.7rem 5rem 0;
}
.skills-text{
    padding-top: 14.7rem;
}
.card-body{
    background-color: #393E46;
}
.card-title{
    background-color: blue;
}
.card-content{
    font-size: 10px;
}
/* olhar a quetsão da octogono responsivo de acordo com o tamanho da tela */