{%include "header.html" %}
<section id="project-page">
    <div class="container project-page-container">
        <h1>Projects Name</h1>
    </div>

    <div class="container">
        <div class="media">
            <img src="{{ url_for('static', filename='images/profile-img.jpg')}}" alt="project-image" class="project-image">
            <div class="media-body">
                <h1 class="mt-0">Description</h1>
                <p>Text description</p>
            </div>
        </div>
    </div>
</section>











{% include "footer.html" %}